/*------------------------------------------------------------------
[Variables to define layout]

Project:        bciti lite
Version:        1.0
Primary use:    bciti layout 
-------------------------------------------------------------------*/

$tabletBreakpoint: 1024px;