<button class="button-sm-text-blue" id="backToLogin" (click)="backToLogin()"> back </button>

    <div class="frow">
        <h2>Register</h2>
    </div>

    <form class="registration-form frow gutters" id="registrationForm">
        <div class="col-xs-1-2">
            <label class="blue">
                First Name
                <input type="text" placeholder="Fist Name" value="">
            </label>
        </div>
        <div class="col-xs-1-2">
            <label class="blue">
                Last Name
                <input type="text" placeholder="Last Name" value="">
            </label>
        </div>

        <div class="col-xs-1-2">
            <label class="blue">
                Password
                <input type="password" placeholder="password" value="">
            </label>
        </div>
        
        <div class="col-xs-1-2">
            <label class="blue">
                Retype Password
                <input type="password" placeholder="password" value="">
            </label>
        </div>
        
        <div class="col-xs-1-2">
            <label class="blue">
                Email
                <input type="password" placeholder="giovanni@gmail.com" value="">
            </label>
        </div>

        <div class="col-xs-1-2">
            <label class="blue">
                City Card Number
                <input type="password" placeholder="123456ABCDEFGHIJK" value="">
            </label>
        </div>
    </form>

    <div class="frow justify registration-action-buttons" id="registrationActionButtons">
        <div class="">
            <button class="button-darkblue">
                Register
            </button>
        </div>
    </div>
