@import "../global-styling/colors";
@import "../global-styling/buttons/buttons";
@import "../global-styling/mixins";

#backToLogin {
    position:absolute;
    top: 5px;
    left: 5px;
}

.center-image {
    display: block;
    margin: 0 auto;
}

.registration-form {
    width: 100%;
    padding: 15px;
    margin: 20px auto 5px auto;
}

.registration-action-buttons {
    width: 95%;
    margin: 10px auto;
    padding: 10px 5%;
}
