<section class="login-wrapper">
    <div class="frow centered">
        <div class="login-box frow direction-column">
            <router-outlet> </router-outlet>
        </div> <!-- /login-box -->
    </div>
</section> <!-- login-wrapper -->




<!-- 
<div class="frow justify-between terms-of-use-buttons" id="termsOfUse">
    <div class="grid-example-square">
        <button (click)="register()" routerLinkActive="router-link-active"  class="button-sm-text-blue">
            Privacy Policy
        </button>
    </div>
    <div class="">
        <button (click)="register()" routerLinkActive="router-link-active"  class="button-sm-text-blue">
            Terms of use
        </button>
    </div>
</div> -->